{% extends 'base.html.twig' %}

{% block title %}New Scolarite{% endblock %}

{% block body %}
    <h1>Create new Scolarite</h1>

    {{ include('scolarite/_form.html.twig') }}

    <a href="{{ path('scolarite_index') }}">back to list</a>
{% endblock %}
